## A2PBEER configuration file - This is a comment
## Autor: Borja Tellado
## Company: Tecnalia


tcpport=2319
eventqueue=MY.FIRST.QUEUE
logproperties=/home/borja/Prj/Container/log4cpp.properties
latbase=43.342376
lonbase=-3.041815
elipsoide=23
umbralcalle=10
canalgps=batela.grua.gps
topicgps=batela.grua.gps.posicion